@page "/"
@inject IConfiguration Configuration

<PageTitle>Index</PageTitle>

<h5>Entra Auth Example</h5>

<SurveyPrompt Title="How is Blazor working for you?" />

<p>Environment: @Configuration["ASPNETCORE_ENVIRONMENT"]</p>

<p>Redis: @Configuration["ConnectionStrings:Redis"]</p>

<p>Backend API: @GetSwaggerUrl()</p>

<a href="@GetSwaggerUrl()/swagger" target="_blank">Swagger</a>

<a href="https://localhost:5005" target="_blank">Frontend App</a>

<br />

@* <a href="https://localhost:8081/_explorer/index.html" target="_blank">Cosmos</a> *@

@code {
    private string GetSwaggerUrl()
    {
        // Use SwaggerUrl environment variable if it exists, otherwise fall back to DownstreamApi:BaseUrl
        //var swaggerUrl = Environment.GetEnvironmentVariable("SwaggerUrl");
        var swaggerUrl = Configuration["SwaggerUrl"];

        if (!string.IsNullOrEmpty(swaggerUrl))
        {
            return swaggerUrl;
        }
        
        return Configuration["DownstreamApi:BaseUrl"] ?? "https://localhost:5002";
    }
}