@page "/"
@inject IConfiguration Configuration

<PageTitle>Index</PageTitle>

<h5>Entra Auth Example</h5>

<p>Environment: @Configuration["ASPNETCORE_ENVIRONMENT"]</p>
<p>Backend API: @Configuration["BackendApi"]</p>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
