<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-calculator" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdatalocal">
                <span class="oi oi-cloud" aria-hidden="true"></span> Weather Local
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataapi">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Weather Api
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataentra">
                <span class="oi oi-cloud-upload" aria-hidden="true"></span> Weather Entra
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todolist">
                <span class="oi oi-list" aria-hidden="true"></span> ToDoList
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="secure">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Secure
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="environment-variables">
                <span class="oi oi-cog" aria-hidden="true"></span> Environment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user-claims">
                <span class="oi oi-cog" aria-hidden="true"></span> User Claims
            </NavLink>
        </div>
        @*
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user-roles">
                <span class="oi oi-cog" aria-hidden="true"></span> Roles
            </NavLink>
        </div> 
        *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
